
.task-list > .task {
    border-bottom: none;
}

.task-list > .task:last-child {
    border-bottom: 1px solid lightgray;
}

.btn-ico {
    width: 55px;
}

.task {
    border: 1px solid lightgray;
    padding: 0.75rem 1.25rem;

    display: flex;
    align-items: center;
}

.task-done {
    background-color: lightgreen;
    text-decoration: line-through;
    color: #aaaaaa;
}

.task > * {
    display: inline-block;
    margin-right: 0.75rem;
}

.task > .btn {
    border-radius: 0;
    margin: -0.75rem 0;
    align-self: stretch;
}

.task > .btn:last-child {
    margin-right: -1.25rem;
}

.task > .divider {
    border-left: 1px solid lightgray;
    width: 1px;
    margin: -0.75rem 1.25rem;
    align-self: stretch;
}

.task > .expander {
    flex-grow: 1;
}

.navbar.bg-light {
    background-color: #f69420;
}